/*For pc*/
@media only screen and (min-width: 961px) {
	@font-face {
    font-family: berlinsans;
    src: url("../fonts/BerlinSansFBRegular.ttf");
	}

	body {
		background-image: url("../img/background.jpeg");
		background-size: 100%;
		background-repeat: no-repeat;
	}

	/* hide for pc layout*/
	.hideforpc{
		display: none;
	}

	/* sidebars */
	.side{
		display: block;
		width: 25%;
		height: 1px;
		float: left;
	}

	/* the main */
	.main{
		width: 50%;
		float: left;
	}

	/* the header */
	#header{
		width: 100%;
		height: 150px;
		margin-top: 0px;
		background-image: url("../img/companylogoBG.jpg");
		background-position: center;
		background-size: 100%;
		z-index: -1;
		font-size: 5em;
		color: #ffffff;
		text-align: center;
		padding-top: 50px;
		font-family: "berlinsans", serif;
		text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
	}

	/* the footer */
	#footer{
		width: 99.8%;
		height: 50px;
		background-color: #000000;
		color: #ffffff;
		text-align: center;
		font-size: 2.2em;
		float: left;
		border: solid 1px;
		border-color: #FFFFFF;
	}

	/* the center p */
	p{
		padding-top: 5px;
		margin-top: 0px;
	}

	/* the article with text */
	.article {
		float: left;
		width: 100%;
		height: 200px;
		background-color: #2699fb;
		font-size: 5em;
		color: #ffffff;
		padding-top: 15px;
		text-align: center;
		font-family: "Arial", serif;
		vertical-align: middle;
	}

	/* the grid for images */
	.grid{
		float: left;
		background-color: #ffffff;
		width: 99.8%;
		height: 910px;
		border: solid 1px;
		border-top: none;
		border-color: #AAAAAA;
		-webkit-flex: 1;  /* Safari 6.1+ */
		-ms-flex: 1;  /* IE 10 */    
		flex: 1;
	}

	/* images layout */
	.image{
		float: left;
		width: 100%;
		height: 390px;
		margin: auto;
		text-align: center;
		overflow: hidden;
	}

	/* column for grid images */
	.gridcolumn{
		float: left;
		width: 300px;
		height: 210px;
		margin-top: 10px;
		margin-left: 10px;
		border: solid 1px;
		border-color: #AAAAAA;
	}

	/* height of image */
	.gridimage{
		height: 100%;
	}

	/* layout for global */
	.formsection{
		width: 99.8%;
		float: left;
		background-color: #f5f5f5;
		border: solid 1px;
		border-color: #707070;

	}

	/* Form */
	.form{

		width: 81%;
		margin-left: 9%;
	}

	/* Makes the navbar */
	ul{
	    font-family: "Arial", serif;
	    font-size: 0.8em;
	    list-style-type: none;
	    background-color: #707070;
	    width: fill;
	    margin: 0;
	    padding: 0;
	    overflow: hidden; 
	    border-style: solid;
	    border-color: #ffffff;
	    border-width: 1px;
	    text-align: center;
	}

	/* for each nav item */
	li{
	    float: center;
	    vertical-align: center;
	    display: inline-block;
	}

	/* for the links in the nav */
	li a {
	    display: block;
	    color: #ffffff;
	    text-align: center;
	    padding: 12px 16px;
	    text-decoration: none;
	}

	/* for images */
	.fullwidth{
		width: 100%;
		font-family: "Arial", serif;

	}

	/* for input dropdown */
	.dropdown{
		float: right;
		width: 60%;
		font-size: 2em;
		font-family: "Arial", serif;
		color: #707070;
	}

	/* block for input */
	.contactFormFieldset{
		background-color: #FFFFFF;
		font-family: "Arial", serif;
		margin-top: 20px;
	}

	/* input */
	.input{
		color: #AAAAAA;
		font-size: 2em;
		font-family: "Arial", serif;
		border:none;
	}

	/* submit button */
	.submit{
		float: left;
		width: 100%;
		height: 60px;
		background-color: #2699fb;
		font-size: 2em;
		color: #ffffff;
		text-align: center;
		font-family: "Arial", serif;
		margin-top: 20px;
		margin-bottom: 40px; 
	}

	/* textarea input */
	.textarea{
		height: 150px;
	}

	/* text in contact */
	.moreinfo{
		margin-top: 20px;
		margin-left:5%;
		margin-bottom: 20px;
		font-size: 2em;
		color: #707070;
	}

	/* header for pages */
	.headerText{
		float: left;
		width: 99.8%;
		height: 100px;
		background-color: #2699fb;
		font-size: 5em;
		color: #ffffff;
		padding-top: 10px;
		text-align: center;
		font-family: "Arial", serif;
		vertical-align: middle;
		border: solid 1px;
		border-color: #FFFFFF;
	}

	/* difines links*/
	a:link{
		color: #ffffff;
		font-size: 2.1em;
		padding-right: 20px;
		font-family: "Arial", serif;
		text-decoration: none;
	}
	a:visited {
		color: #ffffff;
		font-size: 2.1em;
		text-underline-position: none;
		font-family: "Arial", serif;
		text-decoration: none;
	}

	a:hover {
		color: #ffffff;
		font-size: 2.1em;
		font-family: "Arial", serif;
		text-decoration: none;
	}

	/*makes the placeholder to the same color that is used for the rest of the input*/
	::placeholder {
		color: #AAAAAA;
		opacity: 1; /* Firefox */
	}

	:-ms-input-placeholder { /* Internet Explorer 10-11 */
		color: #AAAAAA;
	}

	::-ms-input-placeholder { /* Microsoft Edge */
		color: #AAAAAA;
	}
}