/*For tablet*/
@media only screen and (max-width: 960px) and ( min-width: 361px) {
	/* the center p */
	p{
		padding-top: 2px;
		margin-top: 0px;
	}

	h1{
		letter-spacing: 5px;
		margin: 0px;
		font-size: 0.9em;
		padding-top: 0px;
	}

	h2{
		margin: 0px;
		font-size: 1.05em;
		padding-top: 0px;
		font-weight: normal;
	}

	/* hide for tablet */
	.hidefortablet{
		display: none;
	}
	
	/* the header */
	#header{
		width: 100%;
		height: 100px;
		margin: auto;
		background-image: url("../img/companylogoBG.jpg");
		background-position: center;
		background-size: 100%;
		font-size: 4em;
		color: #ffffff;
		text-align: center;
		padding-top: 30px;
		color: #ffffff;
		text-align: center;
		font-family: "berlinsans", serif;
		text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
	}

	/* the footer */
	#footer{
		float: left;
		width: 100%;
		height: 30px;
		background-color: #000000;
		color: #ffffff;
		text-align: center;
		font-size: 1.5em;
	}

	/* the article with text */
	.article {
		float: left;
		width: 100%;
		height: 130px;
		background-color: #2699fb;
		font-size: 3em;
		color: #ffffff;
		text-align: center;
		font-family: "Arial", serif;
		vertical-align: middle;
		padding-top: 10px;
	}

	/* Grid */
	.grid{
		height: auto;
		-webkit-flex: 1;  /* Safari 6.1+ */
		-ms-flex: 1;  /* IE 10 */    
		flex: 1;
	}

	/* column for grid images */
	.gridcolumn{
		float: left;
		width: 47%;
		height: 160px;
		margin-top: 10px;
		margin-left: 10px;
		border: solid 1px;
		border-color: #AAAAAA;
	}

	/* height of image */
	.gridimage{
		height: 100%;
	}

	/* images layout */
	.frontimage{
		float: left;
		width: 44%;
		height: 150px;
		border: solid 5px;
		border-color: #FFFFFF;
	}

	/* images layout */
	.image{
		float: left;
		width: 48%;
		height: 250px;
		overflow: hidden;
		
	}

	.margintop{
		margin-top: 20px;
	}

	/* for full with layout */
	.fullimagecontainer{
		float: left;
		width: 100%;
		height: 240px;
		margin: auto;
	}


	/* layout for global */
	.formsection{
		width: 100%;
		background-color: #f5f5f5;
		float: left;
		margin-top: 50px;
	}

	/* Form */
	.form{
		width: 81%;
		margin-left: 9%;
	}

	/* for images */
	.fullwidth{
		width: 100%;
		font-family: "Arial", serif;

	}

	/* for input dropdown */
	.dropdown{
		float: left;
		width: 100%;
		font-size: 1.5em;
		font-family: "Arial", serif;
		margin-top: 20px;
		color: #707070;
	}

	/* dropdown text */
	.selectoptions{
		font-size: 23px;
	}

	/* block for input */
	.contactFormFieldset{
		font-family: "Arial", serif;
		margin-top: 20px;
	}

	/* input */
	.input{
		color: #AAAAAA;
		font-size: 1.5em;
		font-family: "Arial", serif;
		border:none;
	}

	/* textarea input */
	.textarea{
		height: 150px;
	}

	/* submit button */
	.submit{
		float: left;
		width: 100%;
		height: 50px;
		background-color: #2699fb;
		font-size: 2em;
		color: #ffffff;
		text-align: center;
		font-family: "Arial", serif;
		margin-top: 20px;
	}

	/* Makes the navbar */
	ul{
		font-family: "Arial", serif;
		height: 25px;
		font-size: 0.9em;
		list-style-type: none;
		background-color: #707070;
		width: fill;
		margin: 0;
		padding: 0;
		overflow: hidden; 
		border-style: solid;
		border-color: #ffffff;
		border-width: 1px;
		text-align: center;
	}

	/* for each nav item */
	li{
		float: center;
		vertical-align: center;
		display: inline-block;
	}

	/* for the links in the nav */
	li a {
		display: block;
		color: #ffffff;
		text-align: center;
		padding: 3px 0px;
		text-decoration: none;
	}

	/* difines links*/
	a:link{
		color: #ffffff;
		font-size: 1.2em;
		padding-right: 15px;
		font-family: "Arial", serif;
		text-decoration: none;
	}
	a:visited {
		color: #ffffff;
		font-size: 1.2em;
		text-underline-position: none;
		font-family: "Arial", serif;
		text-decoration: none;
	}

	a:hover {
		color: #ffffff;
		font-size: 1.2em;
		font-family: "Arial", serif;
		text-decoration: none;
	}

	/*makes the placeholder to the same color that is used for the rest of the input*/
	::placeholder {
		color: #AAAAAA;
		opacity: 1; /* Firefox */
	}

	:-ms-input-placeholder { /* Internet Explorer 10-11 */
		color: #AAAAAA;
	}

	::-ms-input-placeholder { /* Microsoft Edge */
		color: #AAAAAA;
	}
}