/*For mobile*/
@media only screen and (max-width: 360px) {
    body {
    }

    img{
    	width: 100%;
    }

    .hideformobile{
    	display: none;
    }
    
	#header{
		width: 100%;
		height: 55px;
		margin: auto;
		background-image: url("img/companylogoBG.jpg");
		background-position: center;
		background-size: 100%;
		font-size: 2.2em;
		font-family: "Berlin Sans FB", serif;
		color: #ffffff;
		text-align: center;
		padding-top: 15px;
	}

	#footer{
		float: left;
		width: 100%;
		height: 30px;
		margin: auto;
		background-color: #000000;
		color: #ffffff;
		text-align: center;
		padding-top: 7px;
		font-size: 1.2em;
	}

	.page {
		float: left;
		width: 100%;
		height: 70px;
		background-color: #2699fb;
		font-size: 20pt;
		color: #ffffff;
		text-align: center;
		font-family: "Arial", serif;
		vertical-align: middle;
	}
	
	.image{
		float: left;
		width: 100%;
	   	height: 140px;
	   	font-size: 63pt;
	   	color: #ffffff;
	   	text-align: center;
	   	overflow: hidden;
	   	border: solid 3px;
	}

	.gridimage{
		float: left;
		width: 90%;
		height: 200px;
		margin-top: 10px;
		margin-left: 5%;
	}

	.bannerimage{
		height: 100px;
	}

	.imagefullwidth{
		width: 100%;
	}

	#navbar{
		height: 30px;
		width:  100%;
		margin:  auto;
		background-color: #707070; 
		color: #ffffff;
		border: solid 1px;
		border-color: #ffffff;

	}

	.formsection{
		width: 100%;
		background-color: #ffffff;
		float: left;
	}

	.form{
		width: 80%;
		margin-top: 30px;
		margin-left: 10%;
	}

	.fullwidth{
		width: 100%;
		font-family: "Arial", serif;
		font-size: 10pt;
	}

	.dropdown{
		float: left;
		width: 100%;
		font-size: 1em;
		font-family: "Arial", serif;
		margin-top: 10px;
		color: #707070;
	}

	.centerright{
		float: left;
		width: 100%;
	}

	.contactFormFieldset{
		color: #707070;
		font-size: 10pt;
		margin-top: 15px;
	}

	.input{
		color: #AAAAAA;
		border:none;
	}

	.submit{
		float: left;
	   	width: 100%;
	   	height: 30px;
	   	background-color: #2699fb;
	   	font-size: 15pt;
	   	color: #ffffff;
	   	text-align: center;
	   	font-family: "Arial", serif;
	   	margin-top: 10px;
	   	margin-bottom: 10px; 
	}

	.headerText{
		float: left;
	   	width: 100%;
	   	min-height: 20px;
	   	background-color: #2699fb;
	   	font-size: 2em;
	   	color: #ffffff;
	   	padding-top: 10px;
	   	text-align: center;
	   	font-family: "Arial", serif;
	}

	#product1{
		background-image: url("img/product1.jpg");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	#product2{
		background-image: url("img/product2.jpg");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	#product3{
		background-image: url("img/product3.jpg");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	#product4{
		background-image: url("img/product4.jpg");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	#product5{
		background-image: url("img/product5.jpg");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	#product6{
		background-image: url("img/product6.jpg");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	#product7{
		background-image: url("img/product7.jpg");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	#product8{
		background-image: url("img/product8.jpg");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	#product9{
		background-image: url("img/product9.jpg");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	#product10{
		background-image: url("img/product10.jpg");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	#product11{
		background-image: url("img/product11.jpg");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	#product12{
		background-image: url("img/product12.jpg");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
}


