/*For pc*/
@media only screen and (min-width: 961px) {
	body {
    background-image: url("img/background.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
	}

	img{width: 100%;}

	.hideforpc{
		display: none;
	}

	.side{
		display: block;
		width: 25%;
		height: 1px;
		float: left;
	}
	.middle{
		width: 50%;
		float: left;
	}

	#header{
		width: 100%;
		height: 150px;
		margin: auto;
		background-image: url("img/companylogoBG.jpg");
		background-position: center;
		background-size: 100%;
		font-size: 5em;
		color: #ffffff;
		text-align: center;
		padding-top: 50px;
		font-family: "Berlin Sans FB", serif;
		text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
	}

	#footer{
		width: 100%;
		height: 50px;
		background-color: #000000;
		color: #ffffff;
		text-align: center;
		padding-top: 10px;
		font-size: 2em;
		float: left;
		border: solid 1px;
		border-color: #FFFFFF;
	}

	.page {
		float: left;
	   	width: 100%;
	   	height: 200px;
	   	background-color: #2699fb;
	   	font-size: 5em;
	   	color: #ffffff;
	   	padding-top: 15pt;
	   	text-align: center;
	   	font-family: "Arial", serif;
	   	vertical-align: middle;
	}

	.grid{
		float: left;
		background-color: #ffffff;
		width: 100%;
		height: 860px;
		border: solid 1px;
		border-color: #AAAAAA;
	}

	.image{
		float: left;
		width: 100%;
	   	height: 390px;
	   	margin: auto;
	 	background-color: #2699fb;
	   	font-size: 63pt;
	   	color: #ffffff;
	   	text-align: center;
	   	overflow: hidden;
	}

	.gridcolumn{
		float: left;
		width: 290px;
		height: 200px;
		margin-top: 10px;
		margin-left: 10px;
		border: solid 1px;
		border-color: #AAAAAA;
	}

	.gridimage{
		height: 100%;
	}

	.bannerimage{
		height: 200px;
	}

	.formsection{
		width: 100%;
		background-color: #ffffff;
		float: left;
	}

	.form{
		width: 81%;
		margin-left: 9%;
	}

	#navbar{
		height: 40px;
		width:  100%;
		margin:  auto;
		padding-top: 10px;
		background-color: #707070; 
		color: #ffffff;
		text-align: center;
		border: solid 1px;
		border-color: #ffffff;

	}

	.fullwidth{
		width: 100%;
		font-family: "Arial", serif;
		font-size: 15pt;

	}

	.dropdown{
		float: right;
		width: 60%;
		font-size: 2em;
		font-family: "Arial", serif;
		color: #AAAAAA;
	}

	.contactFormFieldset{
		font-family: "Arial", serif;
		margin-top: 20px;
	}

	.input{
		color: #AAAAAA;
		font-size: 2em;
		font-family: "Arial", serif;
		border:none;
	}

	.submit{
		float: left;
	   	width: 100%;
	   	height: 75px;
	   	background-color: #2699fb;
	   	font-size: 25pt;
	   	color: #ffffff;
	   	text-align: center;
	   	font-family: "Arial", serif;
	   	margin-top: 20px;
	   	margin-bottom: 40px; 
	}

	.textarea{
		height: 150px;
	}

	.moreinfo{
		margin-top: 20px;
		margin-left:5%;
		margin-bottom: 20px;
		font-size: 2em;
		color: #707070;
	}

	.headerText{
		float: left;
	   	width: 100%;
	   	height: 100px;
	   	background-color: #2699fb;
	   	font-size: 5em;
	   	color: #ffffff;
	   	padding-top: 10px;
	   	text-align: center;
	   	font-family: "Arial", serif;
	   	vertical-align: middle;
	   	border: solid 1px;
	   	border-color: #FFFFFF;
	}

	#product1{
		background-image: url("img/product1.jpg");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		background
	}
	#product2{
		background-image: url("img/product2.jpg");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	#product3{
		background-image: url("img/product3.jpg");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	#product4{
		background-image: url("img/product4.jpg");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	#product5{
		background-image: url("img/product5.jpg");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	#product6{
		background-image: url("img/product6.jpg");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	#product7{
		background-image: url("img/product7.jpg");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	#product8{
		background-image: url("img/product8.jpg");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	#product9{
		background-image: url("img/product9.jpg");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	#product10{
		background-image: url("img/product10.jpg");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	#product11{
		background-image: url("img/product11.jpg");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	#product12{
		background-image: url("img/product12.jpg");
		background-position: center;
		background-size: 100%;
		background-repeat: no-repeat;
	}


	a:link{
		color: #ffffff;
		font-size: 20pt;
		padding-right: 20px;
		font-family: "Arial", serif;
		text-decoration: none;
	}
	a:visited {
	    color: #ffffff;
		font-size: 20pt;
		text-underline-position: none;
		font-family: "Arial", serif;
		text-decoration: none;
	}

	a:hover {
	    color: #ffffff;
		font-size: 20pt;
		font-family: "Arial", serif;
		text-decoration: none;
	}

	/*makes the placeholder to the same color that is used for the rest of the input*/
	::placeholder {
    color: #AAAAAA;
    opacity: 1; /* Firefox */
	}

	:-ms-input-placeholder { /* Internet Explorer 10-11 */
	   color: #AAAAAA;
	}

	::-ms-input-placeholder { /* Microsoft Edge */
	   color: #AAAAAA;
	}
}